.list-of-items{
    flex-wrap: wrap;
}
.recipe-wrap{
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.review{
    display: flex;
    justify-content: center;
}
.review h2{
    position: absolute;
    font-family: bold;
    font-size: xx-large;
}
.review img{
    margin-top: 70px;
}
.time{
    display: flex;
}
.big-img-recipe{
    margin: 0;
    height: 700px;
}
.big-img-recipe img{
    margin: 0;
    height: 100%;
}
.smaller{
    background-color: rgb(183, 197, 210);
    font-size: x-large;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
}
.center p{
    width: 60%;
    background-color: rgb(236, 236, 237);
}
.margin-left{
    margin-left: 180px;
}


.flex-on{
    display: flex;
    margin-bottom: 100px;

}
ol{
    width: 30%;
}
ol li{
    margin-top: 15px;
}
ul h5{
    margin: 20px 0 0 0;
}

.bottom-nav{
    height: 100px;
}


/*Video alinment*/
.div-video{
    margin-right: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
}

.reletive-ul{
    position: relative;
}
iframe{
    width: 350px;
    height: 300px;
}

.longer{
    height: 210px;
    width: 60%;
}



.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-time{
    display: flex;
    justify-content: center;
}


.time-things{
    display: flex;
    justify-content: center;
}

.gray-fix{
    background-color: rgb(236, 236, 237);
    width: 60%;
}